.table {
  width: 75%;
  margin: 0 auto;
}

.pie {
  width: 25%;
}

.bottomContainer {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.areaChart {
  display: flex;
  justify-content: space-between;
  flex: 1 100%;
}

.topContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.caloriesContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  flex: 1 10%;
}

.dailyCals {
  font-size: 3em;
  width: 100%;
  text-align: center;
  line-height: 1em;
  margin: 0.8em 0 0;
}

.calUnits {
  text-align: right;
  margin: 0 auto;
}

.tileTitle {
  font-size: 1.1em;
}

.vizContainer {
  display: flex;
  flex-direction: row;
}

.kCalsPie {
  flex: 2 35%;
  margin: 0 2% 20px;
}

.gramsPie {
  flex: 1;
}

.pathToGoal {
  flex: 1;
  margin-right: 2%;
}

.pieTop {
  margin: 0 auto;
}