.table {
  width: 75%;
}

.pie {
  width: 25%;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}