.container {
  width: 100%;
  color: white;
  font-size: 18px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.11);
  margin-bottom: 1em;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 13px 0 !Important;
}

.navContainer li {
  list-style-type: none;
  padding: 0 10px;
}

.link {
  color: #2196F3;
  text-decoration: none;
}

.link:hover {
  color: #2196F3;
  cursor: pointer;
  text-decoration: none;
}

.link:focus {
  color: #2196F3;
  cursor: pointer;
  text-decoration: none;
}
