html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #5f5f5f;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  color: #30CBFF;
  font-weight: 100;
  font-size: 75px;
  margin: 1em 0 20px !Important;
  text-align: center;
}

.subHeader {
  color: #30CBFF;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
  margin: 35px 0 !Important;
}

.errorMsg {
  color: #FF7777;
  font-size: 22px;
  text-align: center;
}

.baseTextAreaContainer {
  display: flex;
  height: 65px;
  margin: 10px !Important;
}

.progressContainer {
  margin: 1em 0 !Important;
}


.baseTextArea {
  flex: 1;
  border-radius: 3px;
  padding: 2px 2.5px;
  font-size: 14px;
  resize: none;
}

.darkBtn {
  background: #30CBFF;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #30CBFF;
}

.darkBtn:hover {
  background: #30CBFF
}

.center {
  text-align: center;
}

.signupContainer {
  width: 40%;
  padding: 1em;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
} 

.submitSignup {
  cursor: pointer
}

.requiredHelper {
  font-weight: 400;
  font-family: Arial, Verdana, Tahoma;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
}

.lineBreak {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #BDBDBD;
  width: 100%;
  height: 2px;
}