.container {
  composes: centeredContainer from 'sharedStyles/styles.css';
}

.title {
  composes: largeHeader from 'sharedStyles/styles.css';
}

.slogan {
  composes: subHeader from 'sharedStyles/styles.css';
}

.signup {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 100;
  padding: 0.4em 0.7em;
  border-radius: 2px;
  background-color: #30CBFF;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.22);
}

.signup:hover {
  box-shadow: rgba(0, 0, 0, 0.239216) 0px 4px 8px 0px;
  text-decoration: none;
  color: white;
}

.signup:focus {
  box-shadow: rgba(0, 0, 0, 0.239216) 0px 4px 8px 0px;
  text-decoration: none;
  color: white;
}